.env
/node_modules
/dist
/connector/dist
/exporter/data
/exporter/dist
/sandbox/data
/sandbox/dist
/connector/scripts/test-commands.ts
/connector/scripts/test-extraction.ts
/connector/scripts/README.md